.wrap {
  padding: 4px;
  display: grid;
  grid-template:
  "d7 d8 d9"
  "d4 d5 d6"
  "d1 d2 d3"
  "dx dx d0";

  gap: 8px;
  height: 224px;
}

.operationBtn {
  background-color: #FFFFFF;
  border: 2px solid #E2E3E5;
  border-radius: 6px;
  color: #000;
  font-weight: 500;

  &[disabled] {
    color: #000;
    background-color: #FFFFFF;
    border: 2px solid #E2E3E5;
    border-radius: 6px;
  }
}

.runtimeFnBtn {
  cursor: pointer;

  &:hover {
    border: 2px solid #5D5FEF;
  }
}
