.wrap {
}

.dndWrap {
  display: flex;
  gap: 100px;
  margin-top: 50px;
  user-select: none;
}

.columnWrap {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.elWrap {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.dropElWrapActive {
  border-bottom: 1px solid blue;
  padding-bottom: 9px;
}

.item {
  border: 1px solid #333;
  padding: 10px;
  background-color: #fff;
}



.columnDropWrap {
  position: relative;
}

.dropperWrap {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: red;
}

