.wrap {
  padding: 4px;
}

.indicator {
  background: #F3F4F6;
  border-radius: 6px;
  padding: 4px 8px;
  height: 52px;
  font-size: 36px;
  font-weight: 800;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
